@import '../_palette';
@import '../mixins';

.chat-dashboard {
  .chat-navbar {
    width: 100%;
    @include flex(row, space-around);
    .home-navigation {
      align-items: left;
    }
    .right-navigation {
      @include flex(row, space-between);
      list-style-type: none;
      * {
        margin: 0 10px 0 10px;
      }
    }
  }

  .chat-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    .title {
      font-size: medium;
      font-weight: bold;
      margin: 0 5px 0;
    }
    hr {
      height: 3px;
      width: 40px;
      border: none;
      background-color: #fcdc2f;
    }
    .chat-sidebar {
      display: flex;
      padding: 25px;
      min-width: 15%;
      flex-direction: column;
      .list {
        margin-bottom: 20px;
      }
      .list-item {
        margin-bottom: 10px;
        color: $grey;
        width: 300px;
        &.active {
          color: $text-highlight-color;
          font-weight: bold;
        }
        .circle {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-left: 8px;
        }
        .online {
          background-color: $success-color;
        }
        .offline {
          background-color: $warning-color;
        }
      }
    }

    .messages-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      .message-list {
        .title {
          color: $grey;
        }
        padding: 25px;
        min-height: 450px;
      }
    }
  }
}
