@import '../_palette';
@import '../mixins';

.chat-dashboard {
  .chat-navbar {
    width: 100%;
    @include flex(row, space-around);
    .home-navigation {
      align-items: left;
    }
    .right-navigation {
      @include flex(row, space-between);
      list-style-type: none;
      * {
        margin: 0 10px 0 10px;
      }
    }
  }

  .chat-container {
    display: flex;
    flex-direction: row;
    .chat-sidebar {
      display: flex;
      min-width: 15%;
      padding: 25px;
      flex-direction: column;
      .title {
        font-size: medium;
        font-weight: bold;
        margin: 0 5px 0;
      }
      hr {
        height: 3px;
        width: 40px;
        border: none;
        background-color: #fcdc2f;
      }
      .list {
        margin-bottom: 20px;
      }
      .list-item {
        margin-bottom: 10px;
        color: #707070;
        width: 300px;
        &.active {
          color: #539dd0;
          font-weight: bold;
        }
        .circle {
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-left: 8px;
        }
        .online {
          background-color: #00b507;
        }
        .offline {
          background-color: #aa0101;
        }
      }
    }
    .messages-main {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
