@import '../_palette';
@import '../mixins';

.login-page {
  position: absolute;
  height: 100%;
  width: 100%;
  @include flex(column, center);

  .login {
    height: 500px;
    width: 400px;
    min-width: fit-content;
    min-height: max-content;

    @include flex(column, center);
    color: $text-title-color;
    text-align: center;

    header {
      margin: 0 0 50px;
    }
  }
}
