// main palette
$background-color: hsl(204, 100%, 96%);
$darkest-blue: hsl(201, 24%, 14%);
$darker-blue: hsl(204, 77%, 26%);
$lighter-blue: hsl(204, 48%, 72%);
$lightest-blue: hsl(204, 86%, 86%);
$shadow-color: #c3c3c3;
// monoscale colors
$grey: #707070;

// text color
$text-title-color: hsl(204, 68%, 66%);
$text-placeholder-color: hsl(204, 54%, 82%);

// cards color
$card-color: hsl(204, 100%, 99%);

// buttons color
$button-submit-color: hsl(204, 57%, 57%);

// input color
$input-type-text-color: hsl(200, 2, 98%);

// highlighted color
$text-highlight-color: #539dd0;

// success & warning
$success-color: #00b507;
$warning-color: #aa0101;
